

header{
    height: 100vh;
    padding-top: 7.5rem;
    overflow: hidden;
}
.header__intro{
    color: var(--color-primary);
    display: flex;
    height: 3rem;

}

.header__container {

    flex-direction: column;
    display: flex;
    justify-content: left;
    text-align: left;
    height: 100%;
    position: relative;
    
  }
  
/* .secondary__header{
    text-shadow:1px 1px 2px grey ;
} */

.header__socials{
    margin-top: 22vh; 
    position:relative;
    /* margin-top: 4rem; */
  
    display: flex;
    column-gap: 2rem;
    top: auto;
}

.header__push{
    margin-right: auto;
}