

header{
    height: 90vh;
    padding-top: 8rem;
    overflow: hidden;
}
.header__intro{
    color: var(--color-primary);
    display: flex;
    height: 2rem;
}

.header__container {

    flex-direction: column;
    display: flex;
    justify-content: left;
    text-align: left;
    height: 100%;
    position: relative;
    
  }
  

.header__socials{
    margin-top: 20vh; 
    position:relative;
    /* margin-top: 4rem; */
  
    display: flex;
    column-gap: 2rem;
    top: auto;
}

.header__push{
    margin-right: auto;
}