.navbar {
  display: flex;
  align-items: center;
  background: var(--color-bg);
  column-gap: 3rem;
  width: 100%;
  opacity: 0.75;
  backdrop-filter: blur(10px);
  background-color: rgba(var(--color-bg), 0.5);
  height: 6rem;
  position: sticky;
  top: 0;
  transition-property: all;
  padding: 0 8rem;
  transition-duration: 900ms;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
}


.nav__push {
  margin-left: auto;
}

.navbar.hide {
  top: -6rem;
  transition-duration: 900ms;
}

/* .navbar.show ul {
  width: 30rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
} */
